/* 
    General Styles
*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
link{
    font-family: Poppins !important;
}

.hero-h1{
    font-size:68px;
}

.hero-h2{
    font-size:46px;
}

.hero-span{
    color:#EA1889 !important;
}

.bg-nz-primary{
    background-color: #1FA9FF;
}

.text-nz-primary{}

.border-nz-primary{
    color: #1FA9FF;
    border-bottom:5px solid 
}

.bg-nz-secondary{
    background-color:#EA1889 !important;
}

.text-nz-secondary{}

.border-nz-secondary{
    color:#EA1889 !important;
    border-bottom:5px solid
}

.nav-link{
    color:#000 !important;
    font-family: Poppins;
    font-size: 20px;
    font-weight:500;
}


/* navmenu Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

.hvr-underline-from-left:hover{
    color:#EA1889 !important;
    -webkit-transition-property: right !important;
    transition-property: right !important;
    -webkit-transition-duration: 3.3s !important;
    transition-duration: 3.3s !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
} 

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #EA1889;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
  }